[2016-12-28 17:43] BrettRToomey opened #23 "Linux Tests"
I noticed that someone's PR failed on Mac but not on Linux. I was really confused as it's usually the opposite. I looked into it and it looks like Linux is only running one of the test cases, not all three. Is there a specific reason for this?

https://github.com/vapor/mysql-driver/blob/master/Tests/LinuxMain.swift#L7

[2016-12-30 23:46] Casperhr commented on #23
Added linux tests https://github.com/vapor/mysql-driver/pull/24

[2016-12-30 23:56] #23 closed, assigned to nobody

[2017-03-28 18:50] kdawgwilk opened #34 "Remove ambiguous `date(_:optional:unique:default:)`"
## Environment
[code]
## Report
I got this compiler error:
[code]
when trying to compile this line:
[code]

[2017-03-29 18:16] tanner0101 commented on #34
Fixed! https://github.com/vapor/mysql-driver/releases/tag/2.0.0-beta.2

[2017-03-29 18:16] #34 closed, assigned to nobody

[2017-03-29 18:41] kdawgwilk commented on #34
Would this also be an issue for other field types? At a quick glance`int` seemed like it existed in both places as well

[2017-03-29 22:08] tanner0101 commented on #34
It's `integer` in this package so shouldn't be an issue

[2017-05-23 12:30] tanner0101 opened #39 "fix last insert id when uuid/int id types mixed"
Moving https://github.com/vapor/fluent/pull/262 here.

[2017-05-23 12:57] cuva commented on #39
@tanner0101 You mentioned on vapor/fluent#259 how values could be truncated on save (and that we shouldn't assume that the `id` passed on the entity is what's been written to the database. Is that specific to SQLLite or could it also be possible in MySQL? If not - it indeed looks life returning `.null` when the `idType` is other than `.int` would work. Otherwise I'm not exactly sure how we'd retri

[2017-05-23 12:59] cuva commented on #39
Hum.. right - returning the value from `results` may actually be more appropriate.

[2017-05-24 10:47] tanner0101 commented on #39
Using the value returned by the DB is definitely better, but unfortunately it appears both MySQL and SQLite only support returning auto-incremented IDs. Luckily I'm also pretty sure they would both throw errors if data gets truncated instead of just silently truncating it. So I think this is a fine solution.

[2017-05-24 11:27] cuva commented on #39
Cool - yep that's what I figured! It also has the benefit of avoiding an unnecessary `SELECT LAST_INSERT_ID` after each assertion for `.uuid` entities 👍

[2017-05-24 12:38] #39 closed, assigned to tanner0101

[2017-06-27 21:02] Casperhr opened #41 "Make support for "after column""
Missing feature
[code]

[2017-08-09 18:36] anthonycastelli opened #43 "deleteForeignKey doesn't generate a valid SQL command"
Per the conversation on https://github.com/vapor/fluent/issues/297 regarding the `deleteForeignKey(...)` not working as expected.

After spending a bit of time trying to figure out why Fluent's `deleteForeignKey(...)` wouldn't delete foreign keys, I discovered that the actual SQL command isn't valid.

When using the database's modify command like so
[code]
the SQL query generated returns
[code]
Th

[2017-10-16 20:44] 0xTim opened #46 "Swift 4 manifest"
The MySQL Driver package has no `Package.swift`/`Package@swift-4.swift` manifest which causes warnings in Xcode saying Swift 4 conversion is available. It also looks like there are some redundant conformance constraints as well that should be fixed to remove warnings in Swift 4/3.2

[2017-10-29 11:45] niklassaers opened #47 "redundant conformance constraint 'E': 'Entity'"
"swift test" gives these four warnings:

Compile Swift Module 'MySQLDriver' (4 sources)
mysql-driver-master/Sources/MySQLDriver/MySQLConnection.swift:25:26: warning: redundant conformance constraint 'E': 'Entity'
    public func query<E: Entity>(_ query: RawOr<Query<E>>) throws -> Node {
                         ^
mysql-driver-master/Sources/MySQLDriver/MySQLConnection.swift:25:43: note: conforman

[2017-10-30 07:17] Joannis commented on #47
Swift 4 creates more warnings for redundant conformances that can be automatically inferred. I'm not sure if Swift 3 can infer them at all, though. Definitely something to fix, but I hope it's easily achievable.

[2017-11-14 22:17] tanner0101 commented on #47
Will require a ton of `#if swift(>=4)` :(

[2017-12-20 00:05] twostraws opened #52 "Error when handling models with Date properties"
I have a Fluent model that has a `Date` property, which gets mapped to `DATETIME` in my MySQL database. If I use `all()` to get an array of my model object I see the data come back, and the dates are represented as epoch time. However, if I use `find()` to look for a particular object, I get the following error:

MySQL.MySQLError.invalidTypeBound: Field of type `int` was bound, mismatching the exp

[2017-12-24 22:40] twostraws commented on #52
This has been resolved now – thank you!

[2017-12-24 22:40] #52 closed, assigned to nobody

[2018-01-09 17:52] rafiki270 opened #56 "Custom column representables support"
[code]
(Before it get's deleted: https://qutheory.slack.com/archives/C4QRYJ6DD/p1515520041000182 )

[2018-01-09 19:05] vzsg commented on #56
Here's a permanent link to (a neighbor of) that message: [Archive](https://qutheory.slackarchive.io/beta/page-99/ts-1515520009000429)

[2018-01-13 15:12] rafiki270 opened #57 "fluent when designing new table (while using UUID as ID) doesn’t make the primary column unique"

[2018-01-16 20:37] rafiki270 commented on #57
but it's primary=unique :)

[2018-01-16 20:37] #57 closed, assigned to nobody

[2018-01-16 20:38] rafiki270 opened #58 "Schema generator crash on enum values V3"
`MySQLDatabase+Schema.swift` doesn't handle `KeyStringDecodable`'s raw values and crashes in `public static func fieldType(for type: Any.Type) throws -> ColumnType`

[2018-01-17 03:55] tanner0101 opened #60 "multiple query start same time"
for some reason one of the following snippets works and the other does not

does not work:
[code]

works:
[code]
thinking maybe this is caused by MySQL not supporting _starting_ two queries at once?

[2018-01-23 08:34] tanner0101 commented on #58
I'm pretty sure this has been fixed now (or at least a clearer error message) with recent updates to core. Please re-open if you continue to see it! Thanks

[2018-01-23 08:34] #58 closed, assigned to Joannis

[2018-01-28 06:31] agordeev opened #61 "Support of emojis?"
I'm getting this error when trying to store a string containing emojis:

MySQL error occured while saving: MySQL Error: Incorrect string value: '\xF0\x9F\x92\x93\xF0\x9F...' for column 'description' at row 1

Identifier: MySQL.MySQLError.1366 (truncatedWrongValueForField)

If I perform a raw query, it inserts a row just fine:

[code]

My database seems properly set for storing emojis:

[code]

How

[2018-01-31 21:20] MihaelIsaev opened #62 "Cannot convert value of type 'TCPSocketSource' to expected argument type 'SocketSource<_>'"
I added FluentMySQL to my Vapor 3 beta project and now I can't build it because of error

[code]

<img width="2032" alt="2018-02-01 1 20 23" src="https://user-images.githubusercontent.com/1272610/35648128-1a6171ac-06ee-11e8-88be-c0d6be114165.png">

Is there any way to fix it?

[2018-02-10 16:50] SandorDobi opened #63 "server is badly crashing when the create SQL for a migrated table exceeds a specific limit"
Hi

I have a a following model.
When the server wants to migrate the table into empty database it is crashing deep down in async.
When exclude some fields from the prepare method it is creating without crash.
The crash or success depends on length of excluded fieldname if i exclude long field name or more fields then it will not crash, if I exclude only one short field it crashing.

[code]

[2018-02-16 11:19] SandorDobi commented on #63
This was resolved.

[2018-02-16 11:19] #63 closed, assigned to nobody

[2018-02-16 11:25] SandorDobi opened #66 "EnableLogging not works with MySQL"
The query logging feature is not working/implemented in MySQL

The DatabaseConfig.enableLogging(on: .mysql) is defunct.

Regards

[2018-02-26 04:52] anthonycastelli opened #69 "Support for JSON"
Looking at the current Vapor 3 PostgreSQL driver, it supports the JSON field. MySQL does support JSON and it would be nice to support this field in a similar manner to the PostgreSQL version to keep things simple across the drivers.

What I'm referring to is this: https://github.com/twof/VaporNation/blob/master/week0-18-01-21.md#postgresql-support-for-jsonjsonb-and-arrays @twof has put together th

[2018-02-26 16:11] 4np opened #71 "Vapor 3.0.0 RC 1: Support Codable Models with more complex mapping"
I am getting nested JSON, which I am decoding / encoding in the model using `init(from decoder: Decoder) ` and `encode(to encoder: Encoder)`. While this compiles properly, the underlying table that is constructed does not contain all of the model's properties (e.g. the ones that are populated by those `init` and `encode` methods; also see [this post](https://medium.com/@sarunw/codable-in-swift-4-0

[2018-02-26 21:09] tanner0101 commented on #71
A couple of things here:
1: Fluent auto-migrations don't support `nestedContainer` w/ codable. Only the first level of properties  have schema created for them, so this is working as expected.
2: Fluent MySQL needs a way to support nested structures. Right now this is not implemented. Fluent PostgreSQL supports this through the `PostgreSQLType` protocol. With this protocol, you can specify exactly

[2018-02-26 21:11] tanner0101 commented on #71
~~Keeping this issue open to track progress of the `MySQLType` protocols...~~

Closing in favor of https://github.com/vapor/fluent-mysql/issues/72, track there!

[2018-02-26 21:13] tanner0101 opened #72 "custom mysql type protocols"
Add support for `MySQL...Type` protocols like `MySQLJSONType`.

Related to #69 #71

[2018-02-26 21:13] tanner0101 commented on #69
Totally agree! Closing in favor of https://github.com/vapor/fluent-mysql/issues/72

[2018-02-26 21:13] #69 closed, assigned to tanner0101

[2018-02-26 21:15] tanner0101 commented on #66
Sorry about this, I'll make sure that gets fixed.

[2018-02-26 21:15] tanner0101 commented on #62
This has been fixed

[2018-02-26 21:15] #62 closed, assigned to tanner0101

[2018-02-26 21:51] 4np commented on #71
Thanks for the feeback @tanner0101 👍

[2018-02-26 22:47] #71 closed, assigned to tanner0101

[2018-02-27 12:47] 4np commented on #71
Sorry for posting here again, but I want to get this to work so instead of waiting for MySQL support I switched from MySQL to PostgreSQL. Same structure as you proposed above but now using the `PostgreSQLJSONType`. Again those nested fields are missing from the schema 😓 Is there anything else involved with getting this to work?

[code]

table schema:
[code]

[2018-02-27 15:25] tanner0101 commented on #71
It should work exactly as you have it there. Are you implementing a custom migration? It seems like some code is missing here. There's a discrepancy between `published_at` and the `publishedAt` field in the DB. That should use the coding key name (if it's properly configured). You should also need to conform `MeasurementType` to `KeyStringDecodable`. I'm not seeing that here.

[2018-02-27 15:28] tanner0101 commented on #71
(also feel free to reach out to me directly on http://vapor.team and I can help you in real time)

[2018-02-27 16:59] 4np commented on #71
You're indeed right about that `published_at` :) I fixed that one in the meantime, the model still had `RootKeys` instead of `CodingKeys`, from the `nestedContainer` setup I had before. I have tried a number of things but it just does not create [the `JSONB` column type](https://twof.github.io/VaporNation/week0-18-01-21)... Model looks like this at the moment:

[code]

pg_dump schema:

[code]

I'l

[2018-02-27 17:59] twof commented on #71
@4np Let me know if I've got something wrong in Vapor Nation and I'll update it :)

[2018-02-27 21:24] PitchLabsAsh opened #73 "Add support for .bit type"
.bit type is currently unsupported

[2018-02-27 21:30] PitchLabsAsh opened #74 "Add support for .timestamp type"

[2018-02-27 22:13] #74 closed, assigned to nobody

[2018-02-27 22:13] #73 closed, assigned to nobody

[2018-02-27 22:14] tanner0101 commented on #71
@twof this was related to an error in Core which has been fixed in 3.0.0 RC 1.0.1. I've added a test in PostgreSQL to make sure it's working correctly here on out

[2018-02-28 05:41] tanner0101 commented on #66
Fixed in #75

[2018-02-28 05:41] #66 closed, assigned to tanner0101

[2018-02-28 05:42] tanner0101 commented on #60
This still seems to be an issue. MySQL state machine blows up if two queries are started at the same time.

[2018-02-28 05:42] #47 closed, assigned to tanner0101

[2018-02-28 05:42] #46 closed, assigned to tanner0101

[2018-02-28 15:59] 0xTim commented on #60
Yep just retested this and hit the same issue

[2018-03-01 09:28] Joannis commented on #60
Shouldn't the `PushStream` prevent the 2 queries from being executed at the same time?

[2018-03-03 00:24] zerausolrac opened #78 "MySQLError.tooManyParametersBound"
MySQLError.tooManyParametersBound: More parameters were bound than specified in the query (PreparedStatement.swift:86)

//Package
[code]
 final class User:Codable, CustomStringConvertible {
    var description: String {
        return "\(String(describing: self.username)), \(self.password), \(String(describing: createdAt)) \(String(describing: updatedAt))"
    }

    var username:String?
    var p

[2018-03-03 09:55] 0xTim commented on #60
So hitting this in another place that wasn't happening before when doing `return try flatMap(to: HTTPStatus.self, req.parameter(Acronym.self), req.parameter(Category.self)) { acronym, category in` - this returns the error `[ ERROR ] FluentError.modelNotFound: No model with ID 1 was found (Model.swift:267)`
An important thing to note is that any subsequent requests **never** get fulfilled, every on

[2018-03-03 13:11] bre7 opened #80 "Column type fixes"
Hey, first time using Vapor in a long time.

I've just submitted 2 PRs related to column types:

* [MINOR] #76 which sets the length to 1 for Bool values when converted to TINYINT
* [IMPORTANT] #79 which adds (is it a regression fix ?) attributes like UNSIGNED

[2018-03-05 11:28] Mladen-K opened #81 "ColumnType VARCHAR BINARY"
When "BINARY" is added as attribute to ColumnType name: "VARCHAR", target field in db is assigned base "VARCHAR" type instead of "BINARY".

MySQL database is provided by AWS - RDS.

I'm using:
[code]

[2018-03-06 01:23] zerausolrac opened #82 "A default database is required if no database ID is passed to User.query(_:on:)"
A default database is required if no database ID is passed to `User.query(_:on:)` or if `User` is being looked up statically.

I have a custom id User model like:

[code]

The error  was sent by Xcode at run process immediately, in the controller I have

[code]

[2018-03-06 08:07] 0xTim commented on #82
@zerausolrac what does your `MigrationConfig` look like?

[2018-03-06 19:19] zerausolrac commented on #82
@0xTim I posted here as it is, to solve it, you have to put ` User.defaultDatabase = .eccdatabase ` at the very beginning of ` configure ` func

[code]

[2018-03-12 23:03] #82 closed, assigned to nobody

[2018-03-21 00:21] tanner0101 commented on #81
this will be fixed in rc.2. thanks!

[2018-03-21 00:21] #81 closed, assigned to tanner0101

[2018-03-22 20:06] Mladen-K opened #87 "Prepare response has invalid status..."
Migration fails while using this prepare function:
[code]
Connection with the database is established and table fluent is created by default, but table users and others are not. The code was working as it should be in rc.1

[2018-03-22 21:01] tanner0101 commented on #87
I'm having trouble creating this one. Can you double check all of your SPM temporary files are cleared, update, re-gen xcode, and try again?

[2018-03-22 21:48] Mladen-K commented on #87
I did it, and the error persists. If it is of any help, here are my config lines:
[code]
[code]
[code]

And here is a complete file - notification.swift
[code]

[2018-03-22 22:07] tanner0101 commented on #87
@Mladen-K can you paste the contents of your `Package.resolved` as well?

[2018-03-22 22:15] Mladen-K commented on #87
[code]

[2018-03-22 22:37] tanner0101 commented on #87
Hmm... everything looks correct. I'll try to recreate, thanks!

[2018-03-24 11:28] Grumme commented on #87
Didn't find this issue in my search for a solution.
I have provided examples here as well @tanner0101
https://github.com/vapor/vapor/issues/1569

[2018-03-24 23:16] jseibert opened #89 "Generated index names are almost always too long"
In MySQL, index names must be 64 characters or less. However, FluentMySQL does not enforce or prepare for this, causing fatal errors:

[code]

SchemaIndex should support manually overriding the name, or it should change to a more intelligent name synthesis scheme.

[2018-03-24 23:30] jseibert opened #90 "Specifying unsigned: true on a TINYINT causes a MySQL syntax error"
Specifying unsigned: true on a TINY causes a MySQL syntax error

Code:

[code]
Error:

[code]

[2018-03-26 17:52] raist2k2 opened #92 "packet parse issue on < 5.7 mysql"
Hi,

after speaking with tanner on the slack channel, i am opening this issue. I am getting strange errors with the Vapor Fluent 3 RC2, which did not happen on RC1. The error happens every time on all queries.

MySQL Version MAMP: 5.6.35

The database schema already exists, so i don't migrate. Here is the code:

configure
[code]

ProjectStateController
[code]

ProjectState Model
[code]

routes
[co

[2018-03-27 18:31] tanner0101 opened #93 "hanging delete all"
Moving https://github.com/vapor/fluent/issues/426 here

[2018-03-27 20:05] tanner0101 opened #94 "hash foreign key names"
Moving https://github.com/vapor/fluent/issues/318 here

[2018-03-27 23:55] tanner0101 commented on #41
Looks neither SQLite or PostgreSQL actually support this. Should probably be added using the DatabaseSchema storage and specific extensions on SchemaBuilder where database type is MySQL.

[2018-03-27 23:56] #60 closed, assigned to tanner0101

[2018-03-28 00:13] tanner0101 commented on #93
Fixed in vapor/mysql. Affected queries with 0 params and 0 return fields.

[2018-03-28 00:13] #93 closed, assigned to tanner0101

[2018-03-28 00:16] tanner0101 commented on #92
@raist2k2 I think this may be related to your MySQL version. Is there any way you could test this on 5.7?

[2018-03-28 00:19] #90 closed, assigned to nobody

[2018-03-28 00:22] tanner0101 commented on #89
Same issue with foreign key names. Related to https://github.com/vapor/fluent-mysql/issues/94. Going to try hashing them.

[2018-03-28 01:02] #89 closed, assigned to tanner0101

[2018-03-28 01:02] #94 closed, assigned to nobody

[2018-03-28 01:05] jseibert commented on #89
👍

[2018-03-28 01:10] #72 closed, assigned to nobody

[2018-03-28 01:11] tanner0101 commented on #56
This has been added 👍

[2018-03-28 01:11] #56 closed, assigned to tanner0101

[2018-03-28 01:27] tanner0101 commented on #61
This is fixed in version in 3.0. Just make sure to use the parameterized protocol (`query` instead of `simpleQuery`). Thanks :)

[2018-03-28 01:27] #61 closed, assigned to tanner0101

[2018-03-28 01:29] tanner0101 commented on #78
This was fixed during the RC.2 refactor, thanks!

[2018-03-28 01:29] #78 closed, assigned to tanner0101

[2018-03-28 01:29] #80 closed, assigned to tanner0101

[2018-03-28 03:09] tanner0101 opened #96 "migration error"
Moving https://github.com/vapor/vapor/issues/1581 here

[2018-03-28 05:23] raist2k2 commented on #92
@tanner0101 Since reporting the bug, i tested on MariaDB 5.5.37, same error. I will test MySQL 5.7 later today.

[2018-03-28 08:37] raist2k2 commented on #92
@tanner0101 You are correct, the issue is with MySQL/MariaDB Versions < 5.7. Version
5.7.21 works correctly.

Problably related to this issue, i tested migrating on MySQL 5.6.35 and got this error:

[code]

Migrating on 5.7.21 worked

[2018-03-29 00:19] tanner0101 commented on #92
@raist2k2 thank you for testing that. I will get a copy of 5.5 and 5.6 and see if I can fix the bug

[2018-03-29 16:29] calebkleveter opened #98 "`property ~~ []` SQL Syntax is Broken"
When you try run a query that gets models based on the elements in an array and the array is empty, like this:

[code]

Instead of generating a `WHERE (false)` statement, it creates

[code]

[2018-03-30 10:38] KidronGuy commented on #92
If you are using heroku with ClearDB MySQL you will get this error as the DB version is < 5.7.
I switched to JawsDB that is 5.7.19-log and everything work fine.

[2018-04-04 23:38] tanner0101 opened #99 "add MySQLEnum type"

[2018-04-10 22:46] tanner0101 commented on #99
Varchar and tiny int versions

[2018-04-10 23:01] grahamburgsma commented on #99
Would also be nice to support the actual ENUM type.

Quoting some advantages from the docs:
- Compact data storage in situations where a column has a limited set of possible values. The strings you specify as input values are automatically encoded as numbers.
- Readable queries and output. The numbers are translated back to the corresponding strings in query results.
https://dev.mysql.com/doc/refm

[2018-04-12 22:23] zerausolrac opened #101 "Custom ID not allow saving Model on Database table"
//  User Model

[code]

// Controller

[code]

//trying to Save User on table
when attempt to post ` {username:"cs@demo.org", password:"12345"} `   the model in not saved on table Users.

//If   MySQLUUIDModel is implementes instead custom Model it works perfectly!

[2018-04-12 22:39] zerausolrac commented on #101
[code]

[2018-04-12 23:00] zerausolrac commented on #101
A weird behavior on Fluent id record after database's table is created
<img width="776" alt="screen shot 2018-04-12 at 5 49 40 pm" src="https://user-images.githubusercontent.com/2464600/38708295-326ee4b8-3e7b-11e8-8e62-94c02a6e2333.png">

[2018-04-13 21:02] xylys opened #102 "utf8mb4 support"
`MySQLConnection+Authenticate.swift` on line `54`

change characterset hex from `0x21`( [utf8_general_ci](https://dev.mysql.com/doc/internals/en/character-set.html))

to whatever hex code represents `utf8mb4`

[2018-04-13 22:19] #102 closed, assigned to nobody

[2018-04-14 06:11] anthonycastelli commented on #101
What your seeing there with Sequel Pro, is it's lack of being able to decode the UUID properly to a readable string. From my testing, everything seems to be working as expected, or maybe I'm just failing to test the right thing.

[2018-04-14 11:12] vzsg commented on #102
Why did you close the issue?

[2018-04-16 22:28] Darchmare opened #103 "Support saving String-backed, Codable-conforming enums to MySQL DB w/Fluent..."
I am attempting to save a String-backed Codable-conforming enum, exposed as a property of a model struct, to a MySQL DB with Fluent.

It is failing with the error `Cannot serialize Status to MySQLData`.

The enum in question:

[code]

I've tried this both with and without conforming to `MySQLColumnDefinitionStaticRepresentable`.

_I've checked a couple of times on Slack and nobody seems to have an

[2018-04-19 14:24] tanner0101 opened #104 "use varBinary for UUID"
This will allow uuid to work better with mysql builtin methods

[2018-04-20 22:38] tanner0101 commented on #103
Totally agree, we need to make this easier. I have a couple ideas on how to do it, thanks!

[2018-04-20 22:42] tanner0101 commented on #101
The gibberish in Sequel Pro is normal, I'll take a look into the main issue though.

[2018-04-30 14:43] jdmcd opened #107 "Revert does not delete fluent entry"
Reverting a model does not delete the model from the `fluent` table which makes it impossible to prepare that table again because Fluent thinks it's already done

[2018-05-05 12:48] RichardAtDP opened #108 "Error due to Datetime(6) on migration MySQL v5"
When a migration runs, it tries to create DATETIME fields with the format DATETIME(6). This creates an error in mySQL 5.5.11

Generates Error:
CREATE TABLE `fluent` (`id` BINARY(16)  PRIMARY KEY, `name` VARCHAR(255)  NOT NULL, `batch` BIGINT  NOT NULL, `createdAt` DATETIME(6) , `updatedAt` DATETIME(6) )

Does not Generate Error:
CREATE TABLE `fluent` (`id` BINARY(16)  PRIMARY KEY, `name` VARCHAR(2

[2018-05-05 15:24] bre7 opened #109 "create() should only request a new ID when it's nil"
If the model already had an ID, try to create a new model using said ID instead of requesting the last one that was inserted

[2018-05-07 17:02] tanner0101 commented on #109
Agreed. The logic here should check for existing values on ID

[2018-05-07 17:03] tanner0101 commented on #108
We will probably need a way to disable usage of the higher precision `DATETIME(...)` when MySQL < 5.6 is used.

[2018-05-07 17:06] bre7 commented on #109
Though it leaves save a bit hanging. The doc is ok but I think it should still insist that if the user wants to save a Model with a custom ID, he/she should use create instead

[2018-05-15 06:21] TofPlay opened #110 "Fatal error: Error raised at top level: ⚠️ MySQL Error: Unsupported auth plugin: caching_sha2_password"
Hi,
I just change my database to MySQL and when I run my app Xcode stop and display this error:
![image](https://user-images.githubusercontent.com/1082222/40039734-de1b025a-5817-11e8-9d07-df3cad7fc1e8.png)
My package.swit:
[code]
MySQL launched with Docker:
[code]

[2018-05-15 16:13] 0xTim commented on #110
@TofPlay it's a bug in Vapor's MySQL due to a breaking change in MySQL 10.something. For now you can do
[code]
The underlying issue is raised at vapor/mysql#172

[2018-05-15 22:53] #109 closed, assigned to nobody

[2018-05-15 23:01] tanner0101 opened #111 "additional string types"
Mentioning https://github.com/vapor/fluent/issues/439 here. FluentMySQL should offer some additional String-like types that have varying lengths.

[2018-05-16 16:08] TofPlay commented on #110
Ok thanks @0xTim 🙂

[2018-05-16 18:41] #103 closed, assigned to tanner0101

[2018-05-16 18:41] #99 closed, assigned to tanner0101

[2018-06-14 21:41] tanner0101 commented on #98
This has been fixed and a test added in #114

[2018-06-14 21:41] #98 closed, assigned to tanner0101

[2018-06-14 21:42] tanner0101 commented on #92
This issue is related to the package https://github.com/vapor/mysql. That package now has tests for 5.5 and 5.6 👍

[2018-06-14 21:42] #92 closed, assigned to nobody

[2018-06-14 21:44] #104 closed, assigned to tanner0101

[2018-06-14 21:45] tanner0101 commented on #108
Once 3.0.0 is released, the best way to fix this will be to use a custom migration and specify `.datetime(nil)` as the type.

[2018-06-14 21:45] #108 closed, assigned to tanner0101

[2018-06-14 21:46] tanner0101 commented on #110
vapor/mysql#172 has been closed. This will be fixed as a part of the 3.0.0 tag.

[2018-06-14 21:46] #110 closed, assigned to tanner0101

[2018-06-15 18:01] jseibert opened #116 "[RC3] Parallel requests no longer permitted?"
With the latest RC3 changes, it looks like parallelizing operations is no longer permitted? What is the recommended way to act on an array of object and initiate N database requests?

cc @tanner0101

![image](https://user-images.githubusercontent.com/80599/41482710-4f154f8e-708b-11e8-8b56-09ae3581d760.png)

[2018-06-15 19:54] tanner0101 commented on #116
Fixed here: https://github.com/vapor/fluent/pull/507

[2018-06-16 06:52] tanner0101 opened #117 "model event + Int ID types"
Support preset model ids and more integer types for autoincrment

[2018-06-18 14:27] jseibert commented on #116
@tanner0101 just got a chance to test this and it works great, thanks! Closing.

[2018-06-18 14:27] #116 closed, assigned to tanner0101

[2018-06-19 18:51] #117 closed, assigned to nobody

[2018-06-19 18:52] tanner0101 commented on #111
This should be done via custom migration.

[2018-06-19 18:52] #111 closed, assigned to nobody

[2018-06-19 18:53] tanner0101 commented on #96
MariaDB support has been added 👍

[2018-06-19 18:53] #96 closed, assigned to tanner0101

[2018-06-19 18:53] tanner0101 commented on #101
@zerausolrac I believe the issue here is you should be calling `create(...)` instead of `save(...)` if the ID is pre-set.

[2018-06-19 18:53] #101 closed, assigned to tanner0101

[2018-06-20 15:26] proggeramlug opened #120 ".filter(.field == nil) not working anymore"
When using something like:
[code]

the MySQL Output becomes "field == null", which really needs to be "field IS NULL".

[2018-06-20 17:17] proggeramlug commented on #120
Fixed here: https://github.com/vapor/sql/pull/14

[2018-06-21 19:31] tanner0101 commented on #120
@proggeramlug are you sure that PR fixed the issue? That `==` operator is not the one used in `.filter(<keyPath> == <value>)`. [This](https://github.com/vapor/fluent/blob/master/Sources/Fluent/QueryBuilder/QueryBuilder%2BOperators.swift#L36) is the operator used, and it [already](https://github.com/vapor/fluent/blob/master/Sources/Fluent/QueryBuilder/QueryBuilder%2BOperators.swift#L142) includes t

[2018-06-21 20:01] proggeramlug commented on #120
@tanner0101 Try it yourself, the one you referenced (https://github.com/vapor/fluent/blob/master/Sources/Fluent/QueryBuilder/QueryBuilder%2BOperators.swift#L142) is not working for me, like it's not the one used here.

[2018-06-21 20:02] proggeramlug commented on #120
Also checkout this one, where the same problem is observed: https://github.com/vapor/sql/issues/13

[2018-06-21 21:21] proggeramlug commented on #120
Okay, I just created a test project that illustrates the case: https://github.com/proggeramlug/vapor-niltest

I also have a big hint for the fix (if you have no time to do this any time soon let me know and I'll gladly dig deeper).

So in the TodoController.swift is an `import Fluent` statement as well as an `import FluentMySQL` statement. If you remove the `import FluentMySQL` statement it works

[2018-06-21 22:05] tanner0101 commented on #120
Oh, I see now. Great find. There is an overload on `filter(...)` that accepts the DB's generic filter type. For MySQL, that is `MySQLExpression`. Since MySQL also offers an `==` that generates a `MySQLExpression`, that one is being chosen instead.

Very interesting problem. I think that the filter [overload](https://github.com/vapor/fluent/blob/master/Sources/Fluent/QueryBuilder/QueryBuilder%2BFil

[2018-06-21 22:09] tanner0101 commented on #87
Closing here (vapor/vapor#1569 was closed)

[2018-06-21 22:09] #87 closed, assigned to tanner0101

[2018-06-21 23:47] tanner0101 commented on #41
Had to get this one done before it turned a year old ;)

<details>
<summary>CustomOrder.swift</summary>

[code]

</details>

<details>
<summary>CreateCustomOrder.swift</summary>

[code]
</details>

[code]

![screen shot 2018-06-21 at 7 46 52 pm](https://user-images.githubusercontent.com/1342803/41750826-05f2d38e-758c-11e8-9ac4-159cfc06df30.png)

This will be available in 3.0.0 RC 4.1

[2018-06-21 23:47] #41 closed, assigned to tanner0101

[2018-06-22 00:53] #120 closed, assigned to tanner0101

[2018-06-22 00:53] #107 closed, assigned to tanner0101

[2018-06-22 01:25] #43 closed, assigned to tanner0101

[2018-06-28 06:28] bygri opened #122 "Unable to decode a UUID property stored as a string"
I am having trouble with a model containing a UUID stored in MySQL as `CHAR` not `BINARY`.

[code]

This implementation stores the property as a UUID, and uses custom encode/decode methods to
fetch and store the UUID as a string. Encoding works fine, the table contains the UUID correctly,
but decoding fails. Fetching the UUID as a string always returns the literal string `"0"`.
[code]

This implem

[2018-07-03 02:09] tanner0101 opened #124 "correct foreign key enable / disable"
[code]

[2018-07-13 01:22] Cellane opened #125 "`.max()` (and possibly other aggregation functions) throw an error on empty table for MySQL"
This is mostly a re-posting of issue vapor/fluent#541, since it seems the issue is related to MySQL-specific parts of Fluent, not Fluent itself. Here’s a minimal repro case:

[code]

[code]

[code]

This code attempts to find maximum value of the `order` field and set the value of newly created object to be one higher.

However, when sending a `{"name": "Test"}` request to `localhost:8080/todos`,

[2018-07-13 01:28] Cellane commented on #125
Forgot to mention: this really seems to only happen on an empty table (or possibly a table where `MAX(order)` would have no value to return?); in other words, if `MAX(order)` returns a non-null value, the code works correctly.

[2018-07-19 22:08] tanner0101 commented on #125
@Cellane I suspect this is related to an issue fixed in MySQL 3.0.0 (just released). Can you run `swift package update` and let me know if that resolves it?

[2018-07-19 22:27] #124 closed, assigned to nobody

[2018-07-23 10:05] Cellane commented on #125
@tanner0101 I’m afraid I’m still hitting the same issue. This time the line number is 81, but the code on the line is the same.

Vapor 3.0.6, Fluent 3.0.0, FluentMySQL 3.0.0, MySQL 3.0.0.

Could it be somehow related to vapor/database-kit#43, by the way? The crash reported in that issue seems to originate from the same line of code.

[2018-07-25 05:03] DanielsCode opened #127 "Dramatic decrease of performance on Ubuntu"
Hi,
I have a very weird behavior .... my raw mysql calls take on mac just 0.02 seconds but on my ubuntu server it takes over 400 seconds ...

Log messages:
[code]

It seems, that I just happened if I use raw sql queries like in this code:
[https://gist.github.com/DanielsCode/ed2af6375acd8eb8ee932982e88f38a9](https://gist.github.com/DanielsCode/ed2af6375acd8eb8ee932982e88f38a9)

If I execute this s

[2018-07-25 06:53] proggeramlug commented on #127
Can you verify that the mysql-server is the same and that the connection from server-to-server and mac-to-server is the same as well?

[2018-07-25 07:13] DanielsCode commented on #127
Sure ... I did some further investigations - current setup:

**Mac version with SQL connection to the Ubuntu server:**
[code]

**Mac connection to the SQL Server (Ubuntu) via Sequel Pro:**
16 rows in 3.7 ms

It has something todo with raw sql statements in combination with ubuntu.

[2018-07-25 07:43] vzsg commented on #127
I don't remember from our discussion on Discord, did you also check the query with MySQL's command line tools on Ubuntu?

[2018-07-25 08:12] DanielsCode commented on #127
yes, here are the results of the command line on Ubuntu: 16 rows in set (0.00 sec)

Tested SQL-Statement:
[code]
Any ideas?

[2018-07-25 10:44] DanielsCode commented on #127
Another interesting aspect:

The routes are secured with authSessionMiddleware. If I turned it off - everything works fine even with raw sql statements.

Ubuntu server without protected routes (session):
[code]
so the problem is fluent with raw sql statements in combination with auth/sessions ....

Code:
[code]

[2018-07-25 19:56] tanner0101 commented on #127
@DanielsCode what are you using to store the sessions cache / how are sessions configured in your app?

[2018-07-25 19:59] DanielsCode commented on #127
Do you mean my configure.swift?

[code]
Do you need additional information? @tanner0101

[2018-07-25 22:06] DanielsCode commented on #127
Minimal example: https://github.com/DanielsCode/SQLSessionBug/

[2018-07-26 21:28] ezfe commented on #127
I'm also having this issue, first noticed it on Friday (July 20). I did make changes involving `raw` usage around this time.

[2018-07-27 06:57] DanielsCode commented on #127
Fix: add this line to your configure.swift
`services.register(DatabaseConnectionPoolConfig(maxConnections: 16))`

https://api.vapor.codes/database-kit/latest/DatabaseKit/Structs/DatabaseConnectionPoolConfig.html#/s:11DatabaseKit0A20ConnectionPoolConfigV14maxConnectionsACSi_tcfc

thanks @tanner0101

[2018-08-11 05:38] ampedNinja commented on #110
This is fixed in 3.0.0? I'm still seeing this issue.....

[2018-08-14 00:08] foscomputerservices opened #188 "Implementation for deleteReference seems to be missing"
It doesn't appear that MySql is performing drop foreign key when requested to do so.

I have the following code, which is a secondary migration on a table.

[code]

Looking at the SQL generated during revert, I see the following:

[code]

When the next table, Promotion, is attempted to be deleted, I get the following and a crash: "Fatal error: 'try!' expression unexpectedly raised an error: ⚠️ MyS

[2018-09-04 22:01] Nexmind opened #128 "Database create table without foreign keys"
Hello,

I follow the official Vapor doc about MySQLFluent [Vapor V3 doc](https://docs.vapor.codes/3.0/fluent/relations/) but when my tables are created i've no foreign key in my database, and unfortunately if found nothing in the doc or already open/closed issue about that.

Here's my parent model:
[code]

And here is the child model

[code]

Did i miss something  in the doc or comprehension, or s

[2018-09-05 21:00] Nexmind commented on #128
Ok i figured out the prepare method in the migration protocol, and this solve my problem.

[code]

[2018-09-05 21:00] #128 closed, assigned to nobody

[2018-11-13 07:20] 97mik opened #130 "Can't save model with empty array"
I have a Fluent MySQL model:
[code]
And when I am trying to save model with not empty array:
[code]
It is works.
But when I am trying to save same model with empty array (not nil):
[code]
Then I get crash in MySQLDataEncoder.swift file, at 11 line, with error message: "Unexpectedly found nil while unwrapping an Optional value".
And I found that the same issue was in postgresql: https://github.com/

[2018-11-21 14:11] 0xTim opened #132 "Driver does not support multiple-table UPDATE syntax"
Useful for mass-updating one side of a pivot. This may be the wrong repo, feel free to move!

[2018-12-17 03:48] bygri opened #136 "Immediate failure on transaction use"
This code:

[code]

throws [this error](https://github.com/vapor/mysql/blob/master/Sources/MySQL/Connection/MySQLConnection.swift#L81):

[code]

on MySQL database version 5.7, using Vapor 3.1.0, Fluent 3.1.2, FluentMySQL 3.0.1.

The same code executed without transactions works fine.

[2018-12-27 21:54] bottlehall opened #137 "Date timestamp base confusion"
I am trying to convert a vapor 2 app to vapor 3 and am hitting problems with dates in forms.

Using the new #date( event.date, "yyyy-MM-dd" tag in my leaf file correctly displays the value 1545946552.9163451 as 2018-12-27. However, using the suggestion from the style guide page to use javascript to convert the human-friendly date back into a timestamp runs into problems. It took me a while to work

[2018-12-27 21:58] bottlehall commented on #137
If I put a 'correction' of 978307200 (being the number of seconds between 1970 and 2001) then I get the correct date.

[2019-02-05 10:57] IgorRosocha commented on #71
I'm having the same problem, but when i try to compile the code from 4np, i get: Use of undeclared type 'PostgreSQLJSONType'. Has it been replaced, or deleted?

[2019-02-21 21:56] gentges opened #138 "mysql error reading communication packets"
Lately I get weird errors in mysql when trying to save entries to the database or during migration at startup:
[code]

I am running mysql 5.7 in a docker container.
Mysql logs:
`[Note] Aborted connection 3 to db: 'daily-diary' user: 'api' host: '10.0.12.4' (Got an error reading communication packets)`

When logging the queries and searching for the given connection I found out that it never quits,

[2019-02-21 22:45] tanner0101 commented on #138
Connections staying open is expected, all connections used by Fluent are kept open in a pool so that they can be re-used.

Seems like a network failure when attempting to create a new connection.

[2019-02-25 13:03] clbaeza opened #139 "MySQL Error duplicate column in Migration"
I have this MySQL Model in my project, get this error when run  "Thread 1: Fatal error: Error raised at top level: ⚠️ MySQL Error: Duplicate column name 'content'"

[code]

Screen capture
![captura de pantalla 2019-02-20 a la s 3 26 45 p m](https://user-images.githubusercontent.com/4458573/53339169-51590c00-38e4-11e9-97a5-60cfeac2fa8a.png)

[2019-02-25 15:04] vzsg commented on #139
The problem is with your code: calling `try addProperties(to: builder)` already defines a column for the `content` field.

Using custom column types is an all-or-nothing deal. You _must not_ call `addProperties` if you want to customize any of the fields, or if you plan on making your database future-proof with migrations.

[2019-02-25 20:41] clbaeza commented on #139
I see, I'll have to put each column in the builder inside Migrations.
Doing that, Fluent does the automatic encode and decode between, for example, String and MySQLDataType.longtext?

Thanks for your help!

[2019-02-26 08:35] vzsg commented on #139
Yes, fortunately Fluent will be able to handle that automatically.

[2019-02-26 11:45] clbaeza commented on #139
Great, thanks for all.

[2019-02-26 11:45] #139 closed, assigned to nobody

[2019-03-06 19:38] Stajor opened #140 "[question] It is possible to use JSON_CONTAINS?"
MySQL 8
Property in my model
[code]
Data in MySQL looks like:
[code]
field data type JSON

[2019-03-28 08:03] wenxini234 opened #142 "vapor 3 mysql join query and decode fields"
[code]
**I want to get all the field information of the two tables, put it in data, and finally return to json**,
eg:
[code]

[2019-04-02 19:19] tanner0101 commented on #142
Hi @wenxini234, check out this example:

[code]

[2019-04-19 09:20] sofbix commented on #136
I aggrieved that is reproducing, but I am thinking it depended on MySQL lib (tested on 3.2.4)
My case is better:
We has 2 async query in the transaction and one should throw error.

Example:

[code]

That generated:

[code]

If would removed request.transaction and use request without connect then it works is fine

[2019-04-28 02:55] #142 closed, assigned to nobody

[2019-06-08 03:57] lukeify commented on #136
Also experiencing this error. Effectively we can't use transactions with MySQL in Vapor?

[2019-06-18 14:41] gentges commented on #71
@IgorRosocha it seems like `PostgreSQLJSONType` doesn't exist anymore.
But I found this [article](https://losingfight.com/blog/2018/11/25/how-to-add-a-postgresql-jsonb-column-in-vapors-fluent/) that saved my day in terms of saving objects to the database.

[2019-08-09 16:12] captainbarbosa commented on #110
This error is still persisting for me when starting a new project with Vapor `3.1.10` and attempting to  configure `FluentMySQL`.

https://github.com/vapor/mysql-kit/issues/172 seems like the related issue but I'm unsure if it was resolved. Additional clarification would be most appreciated.

[2019-08-22 21:58] smathieu commented on #110
We're also facing this using MySQL 5.7. We connect to MySQL via sidecar proxy which handles authentication for us, so we can't easily just add a password.

[2019-10-14 10:44] siemensikkema opened #148 "Unable to remove constraints in update"
On version 3.0.2 when doing
[code]
No statement to delete the constraint is created: ``ALTER TABLE `Product`  []``

The `deleteConstraints` value from `FluentMySQLSchema` is not copied to `MySQLAlterTable` [here](https://github.com/vapor/fluent-mysql-driver/blob/a67a5761859d19dc3e24563f9ab08b4a533adb48/Sources/FluentMySQL/MySQLDatabase%2BSchemaSupporting.swift#L73) as there is no such property on

[2019-10-14 23:31] tanner0101 commented on #148
thanks @siemensikkema !
fixed here: https://github.com/vapor/fluent-mysql-driver/releases/tag/3.1.0

[2019-10-14 23:31] #148 closed, assigned to nobody

[2019-11-24 13:51] cweinberger opened #152 "Timestamps are deleted when using `create(orUpdate:on:)` (upserts)"
Assuming you have a model conforming to `Timestampable` you would expect that its `createdAt` and  `updatedAt` values are updated properly. This works fine when using Fluent's `save()` method. It does not, when using `create(orUpdate:on:)`.

### Observed behavior
_(given that `createdAt`/`updatedAt` are not set manually before upserting the model)_

- first creation works as expected (`createdAt`/

[2020-02-19 06:23] jmarkstar opened #160 "How can I store a master table with its items in only one transaction."
I tried this but I'm getting this error: `Fatal error: Attempting to call `send(...)` while handler is still: callback(NIO.EventLoopPromise<()>(futureResult: NIO.EventLoopFuture<()>), (Function)).`

Any help please.

[code]

[2020-02-19 06:42] 0xTim commented on #160
You can't use a for loop like that with a future operation. What's happening is you're kicking off a load of saves then trying to return and release the connection whilst it's still being used by the saves. What you need to do is to capture the result of each save in an array and then flatten that array of futures before returning the status code

[2020-02-19 09:47] vzsg commented on #160
While that's true and would cause the transaction to be committed before the actual insertions succeeded, the crash is caused by something else.

Vapor 3's database drivers – with the exception of Redis which was rewritten from the ground up – expect _you_, the developer, to ensure that only one command is sent on a database connection at a time (instead of queueing them for example).

Therefore,

[2020-02-21 07:22] anmolrajpal opened #161 "Add Socket option in Custom MySQL Configuration"
Though there are abundant configuration options in the current version, however, I want to use a custom socket for my configuration. As I am using MAMP, it runs MySQL with a custom configuration with a custom socket => `/Applications/MAMP/tmp/mysql/mysql.sock`
Other Server Side Swift Frameworks such as Perfect Swift provides this 'Socket' option.
I hope this option will be added in Vapor too.

[2020-03-04 20:12] tanner0101 commented on #161
Related to https://github.com/vapor/postgres-kit/pull/170

[2020-03-04 21:07] #161 closed, assigned to nobody

[2020-04-06 18:22] m-barthelemy opened #167 "Unable to INSERT a model with a property of type Data"
I have a Fairly basic model:

[code]

With the corresponding migration:
[code]

Every time I try to save a `JobModel`, my app crashes with the following message: `Fatal error: Not enough bits to represent the passed value`

Fluent creates the table with the following structure:

[code]

If I change my `JobModel.data` field to be an optional, re-create the table and try saving a model with a `nil`

[2020-04-07 03:27] m-barthelemy commented on #167
This is what Xcode looks like when the crash happens :)

<img width="1603" alt="Screen Shot 2020-04-07 at 11 19 10 AM" src="https://user-images.githubusercontent.com/2519084/78626895-ac6c7900-78c2-11ea-9fc2-a9ad1413e8c3.png">

[2020-04-07 03:30] m-barthelemy commented on #167
This is what Xcode looks like when the crash happens :)

<img width="1603" alt="Screen Shot 2020-04-07 at 11 19 10 AM" src="https://user-images.githubusercontent.com/2519084/78627053-1e44c280-78c3-11ea-90c6-3e937ee0e96c.png">

[2020-04-09 14:36] pikkart opened #190 "MariaDB cannot hydrate and/or dehydrate bool values"
It seems that mysql-kit 4.0.0-rc.1.3 is not able to handle boolean values, at least with MariaDB

**Environment**
* Docker version 19.03.5, build 633a0ea
* MariaDB: 10.4.12-MariaDB-1:10.4.12+maria~bioni
* Database Collation: utf8mb4_bin
* Database Charset: utf8mb4
* Package.resolved: [Package.resolved.txt](https://github.com/vapor/mysql-kit/files/4456731/Package.resolved.txt)

**Reproduce by**
`va

[2020-04-17 16:32] GuimaraesGabrielG commented on #110
I also had this problem, but with some research on the net I managed to solve

## Solution:

I'm using Xcode Version 11.3.1  and mySql: mysql 8.0.19 and Vapor 3.1.10

`let mysqlConfig = MySQLDatabaseConfig(
        hostname: "127.0.0.1",
        port: 3306,
        username: "root",
        password: "****",
        database: "chatter",
        transport: MySQLTransportConfig.unverifiedTLS
    )`

[2020-04-22 09:30] m-barthelemy commented on #167
Fixed by https://github.com/vapor/mysql-nio/commit/2cc8433a39a0d2025d7252757b56c094c837ca5f

[2020-04-22 09:30] #167 closed, assigned to nobody

[2020-04-22 16:50] josepfm opened #169 "MySQL & MAMP/Docker"
Hi,

I'm trying to connect to the database mounted on MAMP and I can't get it.

Attached are the configuration and error codes for Xcode.

Fatal error: Error raised at top level: connection reset (error set): Connection refused (errno: 61): file /AppleInternal/BuildRoot/Library/Caches/com.apple.xbs/Sources/swiftlang/swiftlang-1103.8.25.8/swift/stdlib/public/core/ErrorType.swift, line 200
2020-04-2

[2020-04-22 19:02] tanner0101 commented on #169
Are you able to connect with a client like Sequel pro using the same hostname, port, credentials, and TLS configuration?

[2020-04-22 19:06] josepfm commented on #169
As you can see in the screenshot, MAMP incorporates a direct access to Sequel (the icon in the image).

By clicking on it, the program opens with the access data set and you can access the databases you have.

[2020-04-22 19:07] josepfm commented on #169
I don't think it's a MAMP problem in this case, because I can't connect to Docker or my database hosted on my own DigitalOcean server either.

[2020-04-22 20:54] tanner0101 commented on #169
I did a quick StackOverflow search and it looks like you may need to connect using this unix domain socket path: `/Applications/MAMP/tmp/mysql/mysql.sock`.

[code]

Not sure though, I've never used MAMP before. If you can figure out how to connect to it via any other client (like Sequel Pro _without_ having the MAMP app do it for you) then the same method should work via Vapor.

[2020-04-23 12:46] josepfm commented on #169
I finally managed to make it work.

I used the following configuration plus remote access from inside MAMP.

app.databases.use(.mysql(hostname: , port: , username: , password: , database: , tlsConfiguration: nil, maxConnectionsPerEventLoop: 1), as: .mysql)

[2020-04-23 13:20] #169 closed, assigned to nobody

[2020-04-29 14:31] 0xTim opened #170 "References and Foreign Key Constraints not being applied"
I'm setting up a reference in Fluent between two tables [here](https://github.com/brokenhandsio/steampress-fluent/blob/master/Sources/SteampressFluent/Models/BlogPost%2BFluent.swift#L73). In Postgres, this sets up a FKC so that I can't create a post if the user doesn't exist, as defined in [this test](https://github.com/brokenhandsio/steampress-fluent/blob/master/Tests/SteampressFluentTests/PostRe

[2020-04-29 14:35] 0xTim opened #171 "`.string` migrations results in a 256 length varchar"
When setting up a `.string` column in MySQL (e.g. [here](https://github.com/brokenhandsio/steampress-fluent/blob/master/Sources/SteampressFluent/Models/BlogPost%2BFluent.swift#L72)), the column is created as `VARCHAR(256)` instead of anything longer. I remember a discussion on Discord about making this longer, but it doesn't appear to be the case

[2020-05-01 16:17] wendyliga opened #172 "Mysql LAST_INSERT_ID"
is there any `LAST_INSERT_ID ` equivalent on fluent mysql ?

[2020-05-01 19:45] tanner0101 commented on #170
Hmm looks like the `REFERENCES` statement is getting serialized correctly
[code]
MySQL must need some special formatting there.

[2020-05-01 19:49] tanner0101 commented on #171
Fluent 4 continues to use `VARCHAR(255)` like Fluent 3 did. I don't remember the discussion about this in Discord, what was the reason behind changing that again?

For reference:

- Fluent 4: https://github.com/vapor/fluent-mysql-driver/blob/master/Sources/FluentMySQLDriver/MySQLConverterDelegate.swift#L6
- Fluent 3: https://github.com/vapor/mysql-kit/blob/3/Sources/MySQL/SQL/MySQLDataTypeStaticRe

[2020-05-01 19:51] tanner0101 commented on #172
Fluent automatically fetches the last insert ID when you create a new model. If you're using the MySQL driver directly, there's an optional `onMetadata` closure you can pass to get access to this and other query metadata: https://github.com/vapor/mysql-nio/blob/master/Sources/MySQLNIO/MySQLQueryCommand.swift#L13

[2020-05-01 19:51] #172 closed, assigned to nobody

[2020-05-13 13:05] #160 closed, assigned to nobody

[2020-05-14 11:59] wendyliga commented on #172
@tanner0101 there's case when you want to insert to new table use latest inserted on other tables. it will be amazing if we could fetch the last inserted (auto increment) id.

[2020-05-14 13:42] 0xTim commented on #170
Yeah, I'm seeing that as well, but when looking at the database keys, it's not setting up any foreign keys when it should for MySQL at the same time - at least according to [this post](https://stackoverflow.com/questions/14672872/difference-between-references-and-foreign-key)

[2020-05-15 21:01] lucas-adeva opened #176 "Error related to SwiftPackage"
Each time that I try to run the command `swift build -c release` in the server terminal, I get this error:
[code]

I am using this package configuration
[code]

this is the swift version that I have on the server
[code]
could someone give me a hand with this?

[2020-05-15 21:41] lucas-adeva commented on #176
it was an error related to the server configuration. Sorry.

[2020-05-15 21:41] #176 closed, assigned to nobody

[2020-05-18 15:03] jaredanderton opened #177 "Error Selecting on database"
Hello,
I am new to Vapor and running into some odd issues when I try to select from a MySQL database. It works locally (on OSX), but it does not work when I deploy to a prod environment.

In production, my docker container is running on a host in AWS EC2, connecting to an RDS instance. My other containers (which are not vapor 4.0) on the host can connect. Also, this is not a connection issue, I ha

[2020-06-19 00:18] mohok opened #182 "It can't be decoded if value is null"
When I query using raw query, it can't be decoded to optional variable if value is null.

Should I insert `IFNULL` and default value to query? How to decode as nil?

* error response
[code]

[2020-06-28 21:05] kdeda opened #183 "QueryBuilder.all() is 30 times slower than java code"
I was looking at moving some java server code to vapor 4.
To compare, I created one particular Model.

`final class FARequestPoint: Model {
    static let schema = "FA_REQUEST_POINT"

    @ID(custom: "ID") var id: Int?
    @Timestamp(key: .created, on: .create) var created: Date?
    @Field(key: .apiVersion) var apiVersion: Int?
    @Field(key: .bytesIn) var bytesIn: Int?
    @Field(key: .bytesOut

[2020-06-29 13:21] calebkleveter commented on #183
This is almost certainly due to the way the data that you get back from the database is decoded. Fluent uses `Mirror` to get all the fields of a model and then sets the values of those fields from the data coming in. `Mirror` is not exactly known for its speed. The good news is that this is fairly low hanging fruit and it shouldn't be too hard to improve the performance of Fluent.

[2020-06-30 12:53] kdeda commented on #183
[code]

This cut down the fetch time from 30 seconds to 11.
However the overhead of  FARequestPoint.init(sqlRow: SQLRow) now adds 6 seconds to the process.
It seems the SQLRow.decode(column:as:) is now taking way too much cycles.
It boggles me that this compiled code is still way slower than a 10 year old java virtual machine (1.8)

I'm sure swift can do better.
PS.
When I do a profile build I get

[2020-06-30 13:36] kdeda commented on #183
Since I know swift can do much much better, I went and did some profiling.
Inside MySQLTime.swift, we are spending a huge amount of time in the timegm() call

If I skip converting the self.created date, my code goes down to a somewhat acceptable 0.5 seconds to materialize 60k objects.

So why is timegm() so darn slow ??

[code]

[2020-06-30 13:39] jdmcd commented on #183
Wow - so just to clarify, dropping the date conversion improves the time from 11 seconds to .5 seconds or from 30 seconds to .5 seconds? Both are obviously a massive improvement.

[2020-06-30 13:39] jdmcd commented on #183
Also perhaps some profiling via instruments would reveal where the cycles are getting eaten up in the MySQLTime stuff specifically?

[2020-06-30 13:40] kdeda commented on #183
apparently this line is extremely slow
lots of people complaining on the google :-)

[code]

[2020-06-30 13:42] jdmcd commented on #183
Have you tested this on Linux?

[2020-06-30 13:42] kdeda commented on #183
Actually my last profiled code was taking 1.25 seconds and .7 were in the timegm() func

[2020-06-30 13:43] kdeda commented on #183
Not yet, I was playing on my Mac for now.
Actually let me do a linux test real quick.

[2020-06-30 13:44] jdmcd commented on #183
Cool, yeah I'd be interested to see what this looks like on Linux (in release mode). The issues I'm finding online about timegm seem to be related to MacOS but hard to tell for sure

[2020-06-30 13:47] kdeda commented on #183
the pleasures of cross platform programing ...

[2020-06-30 13:57] jdmcd commented on #183
For what it's worth though, it's very possible that the slowdown happens on Linux as well, it's well noted that performance has yet to be truly tuned for the drivers (that's not to say it's not worth investigating further :))

[2020-06-30 14:56] diegotl opened #184 "Not able to store special characters and emojis properly"
I'm rewriting an old API build with Vapor 2 to Vapor 4. But this time I can't seem to store accents, special characters and emojis properly. I have the table encoding and collation set to utf8mb4 but still, when seeing from Sequel, I see them like "ChapÃ©u ðŸŽ“".

Is there a way to fix it currently? Thanks

[2020-06-30 15:27] kdeda commented on #183
The following benchmarks actually reveal performance that is almost acceptable when running inside a docker on both Mac and Linux.
The overhead of creating the date objects is certainly acceptable.
My next step is to investigate the overhead of creating SQLRow (MySQLRow) instances.
Which remains the largest expenditure.

Thank you for the encouragement.
Let's make swift vapor a great platform.

[B

[2020-06-30 15:27] #183 closed, assigned to nobody

[2020-07-06 22:31] Rep2 commented on #177
Might be helpful https://forums.swift.org/t/fluent-connect-mysql-8-failure-how-to-solve/35939/14?u=ivan_rep

[2020-07-14 17:45] tanner0101 commented on #182
Hi @mohok, thanks for reporting this issue. Please include the version of the package you are using as well as information to help reproduce like the query string, table schema, and row values. We can reopen once we have this info.

[2020-07-14 17:45] #182 closed, assigned to nobody

[2020-07-14 21:54] tanner0101 commented on #184
As far as I know, this is determined by the MySQL server. MySQLNIO is already specifying `utf8mb4` as the desired character set: https://github.com/vapor/mysql-nio/blob/master/Sources/MySQLNIO/MySQLConnectionHandler.swift#L160

Double check your database is using `utf8mb4` and `utf8mb4_unicode_ci` and that everything was converted correctly.

[2020-07-14 21:54] #184 closed, assigned to nobody

[2020-07-28 22:29] tanner0101 commented on #122
Sorry this one slipped through the cracks. This does likely have to do with how reflection is working in Fluent 3. Fluent 4 no longer uses Codable-based reflection so this should no longer be a problem.

Here's some code that achieves a similar effect using Fluent 4's API:

[code]

[2020-07-28 22:29] #122 closed, assigned to nobody

[2020-07-28 22:31] tanner0101 commented on #125
Fixed here: https://github.com/vapor/fluent/issues/450

[2020-07-28 22:31] #125 closed, assigned to nobody

[2020-07-28 22:32] #127 closed, assigned to nobody

[2020-07-28 22:35] tanner0101 commented on #136
This limitation has been lifted in the latest version of the driver (4.0.0) as `MySQLConnection` now supports queueing up multiple queries.

[2020-07-28 22:35] #136 closed, assigned to nobody

[2020-07-28 22:37] #137 closed, assigned to nobody

[2020-07-28 22:38] #138 closed, assigned to nobody

[2020-07-28 22:38] tanner0101 commented on #140
This is possible using `sql(raw:)`, see https://docs.vapor.codes/4.0/fluent/advanced/#sql-custom

[2020-07-28 22:38] #140 closed, assigned to nobody

[2020-07-28 22:38] #152 closed, assigned to nobody

[2020-07-29 01:44] #170 closed, assigned to nobody

[2020-07-29 01:47] #171 closed, assigned to nobody

[2020-07-29 01:49] tanner0101 commented on #188
This has been fixed, thanks!

[2020-07-29 01:49] #188 closed, assigned to nobody

[2020-07-29 01:51] tanner0101 commented on #190
This was fixed in https://github.com/vapor/mysql-nio/releases/tag/1.0.0-rc.1.3

[2020-07-29 01:51] #190 closed, assigned to nobody

[2020-08-13 22:13] mohok opened #193 "How to query raw SQL with local variables?"
How to query raw SQL with local variables? Any ways to use semicolon in raw queries?
[code]
MySQL 5.7.26, mysql-kit 4.0.0

[2020-08-15 19:59] milkcocoa opened #194 "Convenience APIs for configuring character set for database, tables, and columns"
Provide convenience APIs to configure character set for database, tables, and columns (from https://github.com/vapor/mysql-kit/issues/289)

[2020-08-18 05:05] #193 closed, assigned to nobody

[2020-08-22 02:39] Lloople opened #195 "Trying to connect to a database without password"
I have no password for the root user in my development machine, but I'm unable to run the migrations because of the following error:

[code]

I can connect to MySQL server just like always on the terminal using `mysql -uroot`.

This is the code I have in my project:

[code]

I guess password should be an optional parameter, I tried with `nil` and `.none` but no luck.

I also tried to connect by `u

[2020-08-25 00:03] gwynne commented on #195
Copying the results of my investigation over from #196: The MySQLNIO layer is incorrectly encoding a complete auth response for an empty password "", when the correct behavior for the `mysql_native_password` plugin is to encode no auth response at all in that case. The existing behavior is already correct for the `caching_sha2_password` plugin, which is why this already works with an empty string

[2020-08-25 07:37] #195 closed, assigned to nobody

[2020-09-30 14:44] oprisk opened #197 "error: extra argument 'requestTimeout' in call requestTimeout: self.connectionPoolTimeout,"
Invalid Call:
/Users/paolo/mtgDEV/_Server/test/TestServer/myProject/.build/checkouts/fluent-mysql-driver/Sources/FluentMySQLDriver/FluentMySQLConfiguration.swift:130:34: error: extra argument 'requestTimeout' in call
            requestTimeout: self.connectionPoolTimeout,
[code]

[2020-10-01 10:16] 0xTim commented on #197
If you update to the latest package versions does this error go away?

[2020-10-12 21:29] oprisk commented on #197
Sorry for the delay. I updated to version 4.0.0-rc and error went away:
from:
.package(url: "https://github.com/vapor/fluent-mysql-driver.git", from: "4.0.0")
to:
.package(url: "https://github.com/vapor/fluent-sqlite-driver.git", from: "4.0.0-rc")

Presumably, "-rc" is the latest beta?

[2020-10-12 22:06] 0xTim commented on #197
Are you switching to SQLite? There aren't any betas any more for the Fluent stuff so just 4.0.0 should work after a package update (`swift package update` from the command line)

[2020-10-13 19:09] oprisk commented on #197
The issue is with MySQL driver, (disregard SQLite, it works just fine using "-rc" release, but not 4.0.0.)

I tested both MySQLdriver 4.0.0 and 4.0.0-rc, with the same error:
/Users/paolo/_MtgDEV/_Server/MtgServer/.build/checkouts/fluent-mysql-driver/Sources/FluentMySQLDriver/FluentMySQLConfiguration.swift:130:34: error: extra argument 'requestTimeout' in call
            requestTimeout: self.conn

[2020-10-13 19:10] 0xTim commented on #197
Can you provide your package.resolved?

[2020-10-13 19:10] oprisk commented on #197
McBkPaolo.local /Users/paolo/_MtgDEV/_Server/MtgServer % swift package resolve
Fetching https://github.com/apple/swift-nio.git
Fetching https://github.com/vapor/fluent-sqlite-driver.git
Fetching https://github.com/vapor/routing-kit.git
Fetching https://github.com/apple/swift-nio-ssl.git
Fetching https://github.com/apple/swift-metrics.git
Fetching https://github.com/apple/swift-nio-extras.git
Fetch

[2020-10-13 19:12] oprisk commented on #197
disregard, out of sync with Xcode compile,  re-running again

[2020-10-13 19:13] 0xTim commented on #197
Run `swift package update` - you're pulling in an old version of Fluent MySQL Driver, you want 4.0.0 https://github.com/vapor/fluent-mysql-driver/releases/tag/4.0.0

[2020-10-13 19:14] oprisk commented on #197
I ran swift package reset, swift package resolve, swift build
I will redo with swift package update

[2020-10-13 19:15] oprisk commented on #197
without package update:

McBkPaolo.local /Users/paolo/_MtgDEV/_Server/MtgServer % swift package reset
McBkPaolo.local /Users/paolo/_MtgDEV/_Server/MtgServer % swift package resolve
Fetching https://github.com/vapor/leaf.git
Fetching https://github.com/vapor/vapor.git
Fetching https://github.com/apple/swift-nio-ssl.git
Fetching https://github.com/apple/swift-metrics.git
Fetching https://github.com/

[2020-10-13 19:21] oprisk commented on #197
The swift package update compiles correctly, without error
Not sure what originally caused the issue, instance of package manager bug?

[2020-10-13 19:22] oprisk commented on #197
this is the package.swift:

// swift-tools-version:5.2
import PackageDescription

let package = Package(
    name: "MtgServer",
    platforms: [
       .macOS(.v10_15)
    ],
    dependencies: [
        // 💧 A server-side Swift web framework.
        .package(url: "https://github.com/vapor/vapor.git", from: "4.14.0"),
        .package(url: "https://github.com/vapor/leaf.git", from: "4.0.0-rc"),

[2020-10-13 19:22] oprisk commented on #197
Thank-you for the assistance

[2020-10-13 19:24] 0xTim commented on #197
The bug was caused by an update somewhere that FluentMySQL didn't specify when it should have done. Until you run a package update it will stick with the versions in the resolved file (which in your case were out of date). Glad it's working!

[2020-10-13 19:24] #197 closed, assigned to nobody

[2020-10-13 19:28] grundoon commented on #197
I'm a little troubled by the fact that your `swift-nio` (thus `swift-nio-ssl` and `swift-nio-http2` as well) are still months out of date.

[2020-10-13 19:31] oprisk commented on #197
how can I force to pull the latest, if swift package update is not doing this?

[2020-10-13 19:48] grundoon commented on #197
It really should be (and that's a problem) I think... but I'd try blowing away the build and DerivedData directories, and manually changing NIO to `from: "2.23.0"` in `vapor/Package.swift`.

[2020-10-13 20:00] oprisk commented on #197
using MacBook, running on Big Sur latest beta
deleted project build folder
cleaned ~/Library/Developer/Xcode/DerivedData
ran package reset, update

-- it did pull NIO 2.23.0, see below:

McBkPaolo.local /Users/paolo/_MtgDEV/_Server/MtgServer % swift package reset
McBkPaolo.local /Users/paolo/_MtgDEV/_Server/MtgServer % swift package update
Fetching https://github.com/vapor/fluent.git
Fetching http

[2021-03-17 06:38] t-ae opened #199 "Make LastInsertIDInitializable public"
I'm planning to have indivisual ID types for each models.
For example:

[code]

It seems most Fluent futures works well, but I found a problem.

`id` of `MyModel` is auto incrementing `INT` column, so it should be set after the model is saved.
Unfortunately, if the type of `id` does not conform to `LastInsertIDInitializable`, the program crashes at here:
https://github.com/vapor/fluent-mysql-drive

[2021-03-27 07:21] 0xTim commented on #199
Why do you want to use a custom type for the ID? I can see this breaking a lot of Fluent, including the relationships and querying since Fluent won't know what underlying DB type to map to in the encoder/decoder

[2021-03-27 09:09] t-ae commented on #199
The main reason is that it is easy to misuse if all models have same ID type.
The IDs of `ModelA` and `ModelB` is similar but they are different. `ModelA.find(idOfModelB, on: db)` is totally incorrect operation.
I want to forbid it with type system.

That's correct. I didn't noticed simply making `LastInsertIDInitializable` public causes several problem.
There's no restriction `LastInsertIDInitial

[2021-03-27 09:09] #199 closed, assigned to nobody

[2022-03-07 14:34] 0xTim opened #205 "Investigate flaky CI"
See PR #204 results

[2022-07-08 22:29] 0xTim opened #211 "Make `MySQLConfiguration` non-constant"
We should allow the configuration in `MySQLConfiguration` to be changed by changing the properties to `var`s. This matches Postgres and makes it easier to set things like the `TLSConfiguration`

[2022-07-09 05:00] lodenrogue commented on #211
I can give this a try

[2022-07-09 05:05] lodenrogue commented on #211
PR: https://github.com/vapor/fluent-mysql-driver/pull/212

Please review it. I've never worked with swift before and I have no way to test locally.

[2022-07-09 20:35] fananek commented on #211
I’m afraid you edited wrong file. Issue is about `MySQLConfiguration` [properties](https://github.com/vapor/mysql-kit/blob/529bde8ce86c8a2546e7e8856c206f3358dff41e/Sources/MySQLKit/MySQLConfiguration.swift#L6-L10).

All these `let`s shall be changed to `var`s.

[2022-07-09 20:39] lodenrogue commented on #211
Got it. I'll make that change

[2022-07-09 22:52] lodenrogue commented on #211
PR: https://github.com/vapor/mysql-kit/pull/309

I think a better approach is to just create a new MySQLConfiguration object and keep the fields immutable. But here's the change you requested in case you still want it.

[2022-07-22 09:50] 0xTim commented on #211
Fixed in https://github.com/vapor/mysql-kit/pull/309

[2022-07-22 09:50] #211 closed, assigned to nobody

[2022-08-04 09:43] JordiGamez opened #213 "Could not convert MySQL data to Date"
Hello!

I'm trying to obtain some articles from my MySQL database using Vapor-Fluent but there is something wrong with my Date type (I have read a little bit of Date type in Vapor but I'm not sure about how to solve this issue).

This is my Vapor-Fluent model:

[code]

This is my Controller:

[code]

This is the format of my Date type in my tbl_article table (it's DATETIME type in my MySQL databas

[2022-08-04 20:10] JordiGamez commented on #213
After some tries, there was an issue in my DATETIME field where I was using 0000-00-00 00:00:00 instead of a valid value like 2022-08-02 21:51:29. After making that change (from zeros to valid date) it started working.

[2022-08-04 20:10] #213 closed, assigned to nobody